/* /1* Pink theme: */
/* /1* selected:            #D97E96 */
/* /1* Green theme: */
/* /1* selected:            #A3BE8C */
/* /1* Red theme: */
/* /1* selected:            #BF616A */
/* /1* Orange theme: */
/* /1* selected:            #D08770 */
/* /1* Yellow theme: */
/* /1* selected:            #EBCB8B*/


* {
	background:			#011826;
	background-alt:		#0A2332;
	foreground:			#EEEEEE;
	selected:			#F06292;
	urgent:				#635373;
	on:					#496886;
	off:				#A36584;
}
